---
title: Homepage
description: The website's homepage.
permalink: /
image:
layout: _default.njk
---

{% block main %}
  <div class="text-center text-red-500 text-2xl">
      <p>Hello World!</p>
  </div>
{% endblock %}